/* Currency distance to price */
body.native-currency-code-chf .sqs-money-native:before {
    margin-right: .5rem;
}

/* Max-Width for Header */
.Header-inner--top {
    max-width: 1050px !important;
    margin: 0 auto;
}

/* Mobile nav hamburger */
.Mobile-bar-menu {
    transform: scale(1.6);
    margin-right: 10px;
}

/* Logo */
img.Mobile-bar-branding-logo {
    border: 2px solid rgb(254, 195, 64);
    background-position: 50% 50%;
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
    background-color: black;
}
img.Header-branding-logo {
    position: absolute;
    z-index: 999;
    top: 10px;
    margin-left: -46px;
    border-width: 3px;
    padding: 0;
    height: 97px;
    width: 97px;
    background-position: 50% 50%;
    object-fit: contain;
    border-radius: 50%;
    background-color: black;
    box-shadow: rgba(254, 194, 64, 0.61) 0px 5px 72px -19px;
    border: 3px solid rgb(254, 195, 64);
}
img.Header-branding-logo:hover, img.Mobile-bar-branding-logo:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* Animations */
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}